global_defs {
        router_id {{ mm_router_id }}
}
vrrp_script Monitor_Nginx {
 script "/hupu/bin/nginx-mm/monitor_nginx.sh"
 interval 2
 weight 2
}
vrrp_instance {{ mm_router_id }} {
        state {{ state_id }}
        interface {{ mm_interface }}
        virtual_router_id {{ mm_id }}
        priority {{ priority_id }}
        advert_int 1
        garp_master_delay 1
        nopreempt
        authentication {
            auth_type PASS
            auth_pass {{ mm_auth_pass }}
        }
        track_script {
        Monitor_Nginx
    }
        virtual_ipaddress {
            {{ mm_vip }}
        }
        
}
